body {
    font-family: 'Cantata One', serif;
    font-size: 20px;
}
.navLogo {
    height: auto;
    width: 10%;
}
.navLogo2 {
    height: auto;
    width: 20%;
}
nav.navbar {
    background-color: #e8f1f2;
    font-family: "Figtree", sans-serif;
}
.btn{
    color: #e8f1f2 !important;
    background-color: #ff7d02 !important;
    border-color: #ff7d02 !important;
}
.btn:hover{
    color: #e8f1f2 !important;
    background-color: lightgray !important;
    border-color: lightgray !important;
}
.cantarell{
    font-family: "Cantarell", sans-serif;
}
.figtree{
    font-family: "Figtree", sans-serif;
}
nav.navbar {
    background-color: #e8f1f2;
    font-family: "Figtree", sans-serif;
}
.spanCustom{
    padding-left: 10px;
}
