body {
    font-family: 'Cantata One', serif;
    font-size: 20px;
}
.navLogo {
    height: auto;
    width: 10%;
}
.navLogo2 {
    height: auto;
    width: 20%;
}
nav.navbar {
    background-color: #e8f1f2;
    font-family: "Figtree", sans-serif;
}
.btn{
    color: #e8f1f2;
    background-color: #ff7d02;
    border-color: #ff7d02;
}