html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #e8f1f2;
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #e8f1f2;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header nav a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}
.navLogo{
    height: auto;
    width: 10%;
}
.navLogo2{
    height: auto;
    width: 20%;
}
nav.navbar {
    background-color: #e8f1f2;
    font-family: "Figtree", sans-serif;
}
.navbar-nav .nav-link {
    font-size: 1rem;
    margin: 0 10px;
}
.hero {
    padding: 40px;
    text-align: center;
}
.hero h2 {
    color: #FFAE00;
}
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #09394a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    font-family: 'Cantata One', serif;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
.figtree{
    font-family: "Figtree", sans-serif;
}
.btn{
    color: #e8f1f2 !important;
    background-color: #ff7d02 !important;
    border-color: #ff7d02 !important;
}
.btn:hover{
    color: #e8f1f2 !important;
    background-color: lightgray !important;
    border-color: lightgray !important;
}
.alignLeft{
    text-align: left;
}
.mt-5{
    margin-top: 100px !important;
}
